<!-- google-maps-demo.component.html -->
<google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
  <ng-container *ngFor="let coordinate of coordinatesList">
    <map-marker [options]="markerOptions" [position]="coordinate"></map-marker>
  </ng-container>
  <map-polyline [path]="coordinatesList"></map-polyline>
</google-map>
<h3>{{ coordinatesList[coordinatesList.length - 1] | json }}</h3>
